body {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 12px;
}
button {
  display: block;
  font-family: 'Work Sans';
  width: 200px;
  height: 40px;
  margin: 40px auto;
  outline: none;
  cursor: pointer;
}

.start {
  background-color: green;
}

.stop {
  background-color: red;
}

#delay {
  margin: auto;
  text-align: center;
}